<%- include('./common/head2'); -%> <%- include('./common/nav'); -%> <%-
include('./common/push-down'); -%>
</div>
    <body>
        
    <div class="container">
    
    <div class="main-body" >
    
    
              <div class="row gutters-sm ">
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <div class="card-body profile-card" >
                      <div class="d-flex flex-column align-items-center text-center">
                        <div style="width: 250px; height: 250px; overflow: hidden; border-radius: 50%; border: 1px solid black;">
                          <div class="profilez" style="width: 250px; height: 250px;border-radius: 50%;  background-color: black;">
                          </div>
                    </div>
                    Change Profile:
                    <div style="width: 80%; margin-left: 0%; font-size: 10px; display: flex; justify-content: center;">
                    <form action="profilePhoto" method="post" enctype="multipart/form-data">
                      <div id="button">
                      <button class="btn btn-outline-dark"  onclick="document.getElementById('upload').click(); document.getElementById('submit').style.display = 'block'; document.getElementById('button').style.display = 'none' ">إرفع صورتك</button>
                      </div>
                    <input required type="file" id="upload" name="myImage" style="width: 100%; font-size: 10px; height: 20px; display: none;">
                    <br>
                    <button type="submit" class="btn btn-dark" style=" display: none;" id="submit" >تثبيت</button>
                </div>
                    </form>
                        <div class="mt-3">
                          <h4><%= user.username %></h4>
                          <p class="text-secondary mb-1"><%= user.type %></p>
                          <p class="text-muted font-size-sm">materials: <%= user.materials %></p>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="col-md-8 info">
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Full Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <%= user.name %>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Materials Teaching</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <%= user.materials %>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">bio</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <%= user.bio %>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Years Experience</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <%= user.experience %>
                          
                          
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Certificate:</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <%= user.certificate %>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Points:</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <%= user.points %>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-12">
                          <a class="btn btn-outline-dark "  href="/edit-teacher">Edit</a>
                        </div>
                      </div>
                  
                    </div>
                  </div>
                </body>
    
                
    <style>
    body{
      text-align: left;
    }
    .profilez {
        background-image: url('/profiles/<%= user.image %>');
        background-size: cover;
        background-position: center;
        transition: all .5s ease;
    }
    .profilez:hover {
      transform: scale(1.2);
    }
    .main-body {
        padding: 15px;
    }
    .card {
        box-shadow: 0 1px 3px 0 rgb(0, 0, 0), 0 1px 2px 0 rgb(0, 0, 0);
    }
    
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgb(0, 0, 0);
        border-radius: .25rem;
    }
    
    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }
    
    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }
    
    .gutters-sm>.col, .gutters-sm>[class*=col-] {
        padding-right: 8px;
        padding-left: 8px;
    }
    .mb-3, .my-3 {
        margin-bottom: 1rem!important;
    }
    
    .bg-gray-300 {
        background-color: #e2e8f0;
    }
    .h-100 {
        height: 100%!important;
    }
    .shadow-none {
        box-shadow: none!important;
    }
    .info {
      box-shadow: 0px 0px 10px #060a11;
      transition: all .5s ease;
      height: max-content;
      padding-top: 10px;
      border-radius: 20px;
    }
    .info:hover {
      box-shadow: 0px 0px 20px #060a11;
    }
    .profile-card:hover {
      box-shadow: 0px 0px 20px #060a11;
    }
    .profile-card {
      box-shadow: 0px 0px 10px #060a11;
      transition: all .5s ease;
    }
    
    
    </style>
    <script>
      function uploadbutton() {
        console.log('test')
      }
    </script>
    